@import url('./reset.css');
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.form{
  width: 1138px;
  margin: 0 auto;
  padding: 16px ;
}
.form-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  
}
.search-input{
width: 172px;
height: 30px;
padding-left: 16px;
border-radius: 5px;
border: 1px #808080 solid;
}
.search-btn{
  height: 33px;
  width: 58px;
  background-color: #4E75FF;
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
}
.gallery {
  background-color: transparent;
  margin: 100px auto;
  padding: 0;
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 40px;
  margin-bottom: 50px;

}
.card-img{
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.card{
    display: flex;
    flex-direction: column;
    width: 300px;
height: auto;
    margin: 0 20px  ;
}
.img-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  font-size: small;
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #FFF;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: none;
  position: absolute;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  left: 47%;
  top: 17%;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} 
.load-more-btn{
  height: 20px;
  width: 80px;
  background-color: #4E75FF;
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
  position: fixed;
left: 50%;
bottom: 2%;
}
.gallery-div{
  position: relative;
}